@page "/modificarpersona/{id:int}"
@using CRUDVACUNACIONT8.Data
@using Microsoft.EntityFrameworkCore

<h3>Modificar Persona</h3>

<EditForm Model="_personaToModify" OnInvalidSubmit="ModifyPersonas">
    <div class="form-group mb-3">
        <label for="personaCedula">Cédula</label>
        <InputText @bind-Value="_personaToModify.Cedula" class="form-control" id="personaCedula" />
    </div>

    <div class="form-group mb-3">
        <label for="personaNombre">Nombre</label>
        <InputText @bind-Value="_personaToModify.Nombre" class="form-control" id="personaNombre" />
    </div>

    <div class="form-group mb-3">
        <label for="personaApellido">Apellido</label>
        <InputText @bind-Value="_personaToModify.Apellido" class="form-control" id="personaApellido" />
    </div>

    <div class="form-group mb-3">
        <label for="personaTelefono">Teléfono</label>
        <InputText @bind-Value="_personaToModify.Telefono" class="form-control" id="personaTelefono" />
    </div>

    <div class="form-group mb-3">
        <label for="personaFeNacimiento">Fecha de Nacimiento</label>
        <InputDate @bind-Value="_personaToModify.FechaNacimiento" class="form-control" id="personaFeNacimiento" />
    </div>

    <div class="form-group mb-3">
        <label for="personaProvincia">Provincia</label>
        <InputSelect @bind-Value="_personaToModify.IdProvincia" class="form-control" id="personaProvincia">
            @foreach (var pro in _provincias)
            {
                <option value="@pro.Id">@pro.Provincia</option>
            }
        </InputSelect>
    </div>

    <div class="form-group mb-3">
        <label for="personaVacuna">Dosis</label>
        <InputSelect @bind-Value="_personaToModify.IdVacuna" class="form-control" id="personaVacuna">
            @foreach (var vacu in _vacunas)
            {
                <option value="@vacu.Id">@vacu.Dosis - @vacu.NombreVacuna</option>
            }
        </InputSelect>
    </div>

    <div class="form-group mb-3">
        <label for="personaFecha">Fecha de Vacunación</label>
        <InputDate @bind-Value="_personaToModify.Fecha" class="form-control" id="personaFecha" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button @onclick="() => ModifyPersonas()" class="btn btn-success" type="submit">Guardar</button>
    <a href="/" class="btn btn-secondary">Cancelar</a>
</EditForm>

@code {
    [Inject] CrudDbContext CrudDbContext { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }
    [Parameter] public int id { get; set; }

    private Personas _personaToModify = null;
    private List<VacunasRecibidas> _vacunas = new List<VacunasRecibidas>();
    private List<Provincias> _provincias = new List<Provincias>();

    protected override async Task OnParametersSetAsync()
    {
        _personaToModify = await CrudDbContext.Personas.FindAsync(id);
    }

    protected override async Task OnInitializedAsync()
    {
        if (CrudDbContext?.Vacunas != null && CrudDbContext?.Provincias != null)
        {
            _vacunas = await CrudDbContext.Vacunas.ToListAsync();
            _provincias = await CrudDbContext.Provincias.ToListAsync();
        }
    }

    private void ModifyPersonas()
    {
        if (_personaToModify.Cedula != null && _personaToModify.Nombre != null && _personaToModify.Apellido != null && _personaToModify.Telefono != null && _personaToModify.FechaNacimiento != null && _personaToModify.IdProvincia != null && _personaToModify.IdVacuna != null && _personaToModify.Fecha != null)
        {
            CrudDbContext.Personas.Update(_personaToModify);
            CrudDbContext.SaveChangesAsync();
            navigationManager.NavigateTo("/");
        }
    }
}
