@using CRUDVACUNACIONT8.Data
@using Microsoft.EntityFrameworkCore


@if (Datos.Count > 0){
   
   <h3>@Titulo</h3>
    <hr />
   <div class="table table-responsive mt-5">
    <table class="table caption-top">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">NDosis</th>
            <th scope="col">Fecha</th>
            <th scope="col">CRUD</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var post in Datos)
        {
        <tr>
           <td>@post.Id</td>
           <td>@post.Cedula</td>  
           <td>@post.Nombre</td>
           <td>@post.Apellido</td>
           <td>@post.Telefono</td>
           <td>@post.VacunasRecibidas?.NombreVacuna</td>
           <td>@post.Fecha</td>
           <td>
            <a href="/update/@post.Id" class="btn btn-warning">Update</a>
            <button class="btn btn-danger">Delete</button>
            </td>
       </tr>

        }

    </tbody>

</table>
</div>
}

@code {


    [Parameter]
    public List<Signo> ? Datos { get; set; }

    [Parameter]
    public string ? Titulo { get; set; }

}
